<footer>
  <div class="container">
    <div class="columns is-centered">							
      <div class="column is-6 content">
        <p>&copy;Copyright 2020 ForHumanSake.org. We have <a href="/terms">terms</a> and <a href="/privacy">a privacy policy</a> that you should read if you care. Or better yet, <a href="/contact">contact us</a>.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157295508-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157295508-1');
</script>

<script src="/assets/js/cookie.notice.min.js"></script>
