<footer class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">							
        <div class="column is-12 content">
          <p>Built by <a href="https://lorenzut.com" target="_blank">Patrick</a> in Portland, OR, USA.  <a href="/terms">terms</a> | <a href="/privacy">privacy</a> | <a href="/contact">contact</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script async defer src="https://kisses.forhumansake.org/app.js"></script>
<noscript><img src="https://kisses.forhumansake.org/image.gif" alt=""></noscript>

<script type="text/javascript">
  window.UnderpolishedTitles = "<3"
</script>
<script src="https://api.underpolished.com/js/twister.js" async type="text/javascript"></script>