<footer class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">							
        <div class="column is-6 content">
          <p>&copy;Copyright 2020 ForHumanSake.org. We have <a href="/terms">terms</a> and <a href="/privacy">a privacy policy</a> that you should read if you care. Or better yet, <a href="/contact">contact us</a>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
<noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
<script>
  window.UnderpolishedChatSettings = {
    id: 1,
    token: 'sQ034aCjacnURvpN',
    we: true
  };			

</script>
<script src="https://api.underpolished.com/js/chatwidget.js" async type="text/javascript"></script>

<script src="/assets/js/cookie.notice.min.js"></script>
